@import "components/banner.css";
@import "components/button.css";
@import "components/footer.css";
@import "components/card.css";
@import "components/navbar.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.yellow {
  color: #f5db4c;
}
.blue-flash {
  color: #774cf5;
}
.orange-flash {
  color: #ff7250;
}
.violet {
  color: #c54cf5;
}
.blue {
  color: #5a698f;
}
.orange {
  background-color: #df7d65;
}
.turquoise {
  color: #afcdcd;
}
.light-grey {
  color: #dfe0e0;
}
.dark-blue {
  color: #263547;
}
section {
  padding-top: 15px;
  padding-bottom: 15px;
}
.container {
  background-color: #343a40;
}
body {
  background-color: #343a40;
  color: #e6dedd;
}

h2 {
  font-size: 80px;
}
.project-img {
  max-width: 100%;
  padding: 0 30px;
}
#projects {
  /*background-color: #f5db4c;*/
  /*color: #263547;*/
}

#projects h2, p {
  color: ;
}

#skills {
  /*background-color: #774cf5;*/
  /*color: #263547;*/
}

#skills h2 {
  color: ;
}

