@import "components/banner.css";
@import "components/button.css";
@import "components/footer.css";
@import "components/card.css";
@import "components/navbar.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

h1, h3 {
  color: #f89d13;
}
.orange {
  color: #f89d13;
}
.grey {
  color: #cfd8dc;
}
ul {
 margin: 0 70vh 0 0;
}
.badge {
  background-color: #f89d13;
}
section {
  padding-top: 15px;
  padding-bottom: 15px;
}
.container {
  background-color: #343a40;
}
body {
  background-color: #343a40;
  color: #e6dedd;
}

h2 {
  font-size: 70px;
  padding-bottom: 4.7rem;
}

h3 {
  font-size: 50px;
  margin: 30px 0;
}

a {
  text-decoration: none !important;
  margin-bottom: 20px;
}

.container p {
  margin-bottom: 20px;
}
