@import "components/banner.css";
@import "components/button.css";
@import "components/footer.css";
@import "components/card.css";
@import "components/navbar.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

h1 {
  color: #f89d13;
}
.orange {
  /*color: #f89d13;*/
  /*color: #EEDFC5;*/
  /*color: #DAC294;*/
  /*color: #D3B7AB;*/
  /*color: #B5B7BB;*/
  /*color: #D4D4D4;*/
  color: #CCB774;
}
.grey {
  /*color: #343a40;*/
  color: #cfd8dc;
}
.whitey {
  color: #e6dedd;
}
section {
  padding-top: 15px;
  padding-bottom: 15px;
}
.container {
  background-color: #343a40;
}
body {
  background-color: #343a40;
  color: #e6dedd;
}

h2 {
  font-size: 80px;
}
.project-img {
  max-width: 100%;
  padding: 0 30px;
}
#projects {
  /*background-color: #f5db4c;*/
  /*color: #263547;*/
}

#projects h2, p {
  color: ;
}

#skills {
  /*background-color: #774cf5;*/
  /*color: #263547;*/
}

#skills h2 {
  color: ;
}
a {
  text-decoration: none !important;
}
