.card img {
  height: 280px;
  object-fit: cover;
  background-color: #afcdcd;
}
.card {
  display: block;
  padding-left: auto;
  padding-right: auto;
  width: 100%;
  border-style: none;
  border-radius: 15px;
  background-color: #dfe0e0;
}

.card-body {
  padding-top: 10px;
  display: block;
  padding-left: auto;
  padding-right: auto;
  color: #263547;
}

.card-body h5 {
  color: #5a698f;
}

.img-fluid {
  width: 100%;
  height: auto;
}
.card a {
  text-decoration: none;
}


