.navbar-lewagon {
  justify-content: space-between;
  background: #ff7250;;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 60px;
  height: auto;
  background-color: #5a698f;
  border-radius: 50%;
  padding: 10px;
  margin: 0;
  transition: background-color 0.5s ease;
}

#names-letter:hover {
  color: #df7d65;
  background-color: #afcdcd;
}
